.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  height: 5vh;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-map {
  box-shadow: rgba(0,0,0,0.5) 0 2px 6px;
  height: 55%;
  left: 0;
  position: absolute;
  right: 0;
  top: 5vh;
  z-index: 100;
}

.Map-pin {
  background: gray no-repeat center center fixed;
  background-size: cover;
  border: solid 1px black;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.5) 0 2px 6px;
  height: 10vw;
  overflow: hidden;
  width: 10vw;
}

.App-info {
  background: white;
  bottom: 0;
  flex-direction: column;
  height: 40%;
  left: 0;
  overflow: scroll;
  position: absolute;
  right: 0;
}

i {
  animation: me 2s infinite;
  background-color: rgba(0,0,128,1);
  border-radius: 2vw;
  display: block;
  height: 4vw;
  width: 4vw;
}

@keyframes me {
  0%   { opacity: 0.33; }
  50%  { opacity: 0.67; }
  100% { opacity: 0.33; }
}
